@charset "utf-8";

@layer
	import_color,
	import_size,
	import_lang,
	root,
	default,
	doc,
	import_custom_nav;

@import url("import/color.css") layer(import_color);
@import url("import/size.css") layer(import_size);
@import url("import/lang.css") layer(import_lang);
@import url("import/custom_nav.css") layer(import_custom_nav);

@layer root {
	:root {
		height: 100%;
		font-size: var(--root-font-size);
		color: var(--fg-color);
		background-color: var(--bg-color);
	}

	body {
		height: 100%;
		margin: 0;
	}
}

@layer default {
	a:link, a:visited {
		color: var(--link-color);
		text-decoration: none;
	}

	a:link:hover, a:visited:hover {
		text-decoration: underline;
	}
}

@layer doc {
	iframe#sub {
		display: block;
		width: 100%;
		height: 100%;
		border-style: none;
	}
}

