@import url("color.css");
@import url("../../../../style/import/font_math.css");
@namespace m url("http://www.w3.org/1998/Math/MathML");

:root {
	font-size:10px;
	--error-color: hsl(0, 100%, 70%);
	--real-color: hsl(240, 80%, 70%);
	--calc-color: black;
}

g#axis > path {
	stroke: var(--mc4-color);
	stroke-width: 1;
	marker-end: url(#arrow);
}

g#step > path {
	stroke: var(--mc5-color);
	stroke-width: 1;
	stroke-dasharray: 2;
}

path.real {
	fill: none;
	stroke: var(--real-color);
	stroke-width: 1;
}

path.flow {
	fill: none;
	stroke: var(--mc5-color);
	stroke-width: 1;
}

path.calc {
	fill: none;
	stroke: var(--calc-color);
	stroke-width: 1;
	marker-start: url(#point);
	marker-mid: url(#point);
}

path.calc.endCap {
	marker-end: url(#point);
}

path.grad {
	stroke: var(--calc-color);
	stroke-width: 1.5;
	marker-start: url(#gradSrc);
	marker-end: url(#gradDst);
}

path#error {
	fill: none;
	stroke: var(--error-color);
	stroke-width: 1;
	marker-start: url(#lengthMark);
	marker-end: url(#lengthMark);
}

text#errorText {
	font-size: 12px;
	font-family: "Times New Roman", serif;
	dominant-baseline: middle;
	fill: var(--error-color);
}

marker#arrow > path,
marker#calcSrc > circle,
marker#calcDst > path {
	fill: context-stroke;
}

marker#lengthMark path {
	stroke: context-stroke;
	stroke-width: 1;
}

m|math {
	font-family: "MyMath", math;
	font-size: 12px;
}
