@import url("color.css");
@import url("../../../../style/import/font_math.css");
@namespace m url("http://www.w3.org/1998/Math/MathML");

:root {
	--projX3Y1-color: green;
	--projX3Y2-color: blue;
}

g#axis > path {
	stroke-width: 1.5;
	stroke: var(--mc4-color);
}

g#vecs {
	> path {
		stroke-width: 1.5;
		marker-end: url(#arrow);
		stroke: black;
	}

	#y3 {
		stroke-dasharray: 6 2;
	}

	> path#projX3Y1 {
		stroke: var(--projX3Y1-color);
	}

	> path#projX3Y2 {
		stroke: var(--projX3Y2-color);
	}
}

g#x3Guide > path {
	stroke-width: 1;
	stroke-dasharray: 1 2;
	stroke: red;
}

m|*.projX3Y1 {
	color: var(--projX3Y1-color);
}

m|*.projX3Y2 {
	color: var(--projX3Y2-color);
}

m|math {
	font-family: "MyMath", math;
	font-size: 12px;
}

