@import url("color.css");

@namespace m url("http://www.w3.org/1998/Math/MathML");

@font-face {
	font-family: "MyMath";
	src: url("../../../../style/font/latinmodern-math.otf") format("opentype");
}

m|math {
	font-family: "MyMath", math;
	font-size: 12px;
}

g#axis > path {
	stroke-width: 1.5;
	stroke: var(--mc4-color);
}

g#vecs {
	> path {
		stroke-width: 1.5;
		marker-end: url(#arrow);
		stroke: black;
	}

	#y3 {
		stroke-dasharray: 6 2;
	}

	#prodX3Y1 {
		stroke: green;
	}

	#prodX3Y2 {
		stroke: blue;
	}
}

g#x3Guide > path {
	stroke-width: 1;
	stroke-dasharray: 1 2;
	stroke: red;
}

#prodX3Y1Text > m|math {
	color: green;
}

#prodX3Y2Text > m|math {
	color: blue;
}
