code[class|="language"] {
	color: hsla(0, 0%, 0%, 0.8);
}

code[class|="language"] .token.keyword,
code[class|="language"] .token.url {
	color: hsla(240, 90%, 60%, 0.8);
}

code[class|="language"] .token.comment {
	color: hsla(120, 100%, 25%, 0.8);
}

code[class|="language"] .token.operator,
code[class|="language"] .token.symbol {
	color: hsla(40, 100%, 30%, 0.8);
}

code[class|="language"] .token.punctuation {
	color: hsla(0, 0%, 50%, 0.8);
}

code[class|="language"] .token.namespace,
code[class|="language"] .token.class-name,
code[class|="language"] .token.function {
	color: inherit;
}

code[class|="language"] .token.macro {
	color: hsla(330, 90%, 35%, 0.8);
}

code[class|="language"] .token.constant,
code[class|="language"] .token.number,
code[class|="language"] .token.boolean,
code[class|="language"] .token.string,
code[class|="language"] .token.char {
	color: hsla(20, 90%, 40%, 0.8);
}

