@charset "utf-8";

@layer
	import_color,
	import_size,
	import_lang,
	root,
	default,
	normal,
	semantic,
	code_block,
	ui,
	util,
	import_nav,
	import_quote,
	import_prism,
	import_console_rustc,
	custom_nav,
	custom_prism;

@import url("import/color.css") layer(import_color);
@import url("import/size.css") layer(import_size);
@import url("import/lang.css") layer(import_lang);
@import url("import/quote.css") layer(import_quote);
@import url("import/prism.css") layer(import_prism);
@import url("import/console_rustc.css") layer(import_console_rustc);
@import url("../lib/nav/nav.css") layer(import_nav);

@layer root {
	:root {
		font-size: var(--root-font-size);
		height: 100%;
		padding: 0 0.5rem;
		color: var(--fg-color);
		background-color: var(--bg-color);
	}

	:root > body {
		margin: 0 auto;
		padding: 2rem 0 6rem;
		min-width: 20rem;
		max-width: 46rem;
		min-height: calc(100% - 8rem);
	}

	@media print {
		:root {
			background-color: transparent;
		}

		:root > body {
			padding-top: 0;
			background-color: transparent;
		}
	}

	@media screen and (width > 56rem) {
		:root {
			background-color: var(--ob-color);
		}

		:root > body {
			padding-left: 4rem;
			padding-right: 4rem;
			box-shadow: 0 0 0.5em hsla(0, 0%, 0%, 0.5);
			background-color: var(--bg-color);
		}
	}
}

@layer default {
	p {
		margin: 0.5em 0;
	}

	ul, ol {
		padding-left: 1.5em;
	}

	ul, ol, dl {
		margin: 0.5em 0;
	}

	q {
		quotes: "\201C" "\201D" "\2018" "\2019";
	}

	pre {
		line-height: 1.4;
	}

	pre, samp, code {
		font-family: var(--mono-font);
		hyphens: none;
		tab-size: 4;
		text-justify: none;
	}

	code {
		background-color: var(--mask-color);
		margin: 0 -0.25ch;
		padding: 0 0.25ch;
		border-radius: 0.25ch;
	}

	a:link, a:visited {
		color: var(--link-color);
		text-decoration: none;
	}

	a:link:hover, a:visited:hover {
		text-decoration: underline;
	}

	h1 code {
		background-color: revert;
	}

	*.mt {
		font-family: var(--mono-font);
	}

	*.nw {
		white-space: nowrap;
	}
}

@layer normal {
	dl.normal {
		> dt::before {
			content: "≫";
			margin-right: 0.5ch;
		}

		> dd {
			margin-left: 1.5ch;
		}

		&.lowProfile {
			display: grid;
			grid-template-columns: auto minmax(0, 1fr);
		}

		&.lowProfile > dt {
			align-self: baseline;
			white-space: nowrap;
		}

		&.lowProfile > dd {
			display: list-item;
			margin-left: 1.5em;
			padding-left: 0.5em;
			align-self: baseline;
		}

		&.lowProfile > dd::marker {
			content: "…";
		}

		&.highProfile > dt {
			margin-top: 2em;
		}

		&.highProfile > dd {
			margin: 1em 0 2em 2em;
		}
	}

	aside.normal {
		margin: 1rem -0.5rem;
		padding: 0 0.5rem;
		border-width: thick ;
		border-style: solid none;
		border-color: var(--thick-color);
		background-color: var(--fill-color);

		&::before {
			--size: 2.2em;
			content: "";
			float: left;
			width: var(--size);
			height: var(--size);
			margin: calc((1lh + 1em - var(--size)) / 2) 0.5ch 0 0;
			background-size: 2.2em;
			background-image: url("img/book_light.svg");
		}

		&.moan::before {
			background-image: url("img/unhappy.svg");
			filter: saturate(30%);
		}
	}

	table.normal {
		margin: 1em 0;
		border-collapse: collapse;

		> tr > *,
		> * > tr > * {
			padding: 0.5ex 0.5ch;
			border: thin solid var(--edge-color);
		}

		> tr > th,
		> * > tr > th {
			font-weight: normal;
			background-color: var(--fill-color);
		}
	}

	@media screen and (prefers-color-scheme: dark) {
		aside.normal {
			&::before { 
				background-image: url("img/book_dark.svg");
			}

			&.moan::before {
				background-image: url("img/unhappy.svg");
				filter: saturate(20%) brightness(85%);
			}
		}
	}
}

@layer semantic {
	body > header > h1 {
		display: table;
		font-size: 1rem;
		font-weight: normal;
		margin-bottom: 2rem;
		border: thin dashed red;
		padding: 1ex 1em;
	}

	section, body > * {
		max-width: calc(var(--base-width-size) + 1px);
	}

	section:has(> h1),
	section:has(> hgroup > h1) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	section:has(> h2),
	section:has(> h3),
	section:has(> hgroup > h2),
	section:has(> hgroup > h3) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	section > hgroup {
		margin: 1rem 0;

		> div.subTitle {
			font-weight: bold;
		}

		> div.subTitle::before,
		> div.subTitle::after {
			content: " 〜 ";
		}
	}

	section > h1,
	section > hgroup > h1 {
		font-size: 1.05em;
		line-height: normal;
		margin: 1rem calc(var(--gap) * -1);
		padding: 0.5ex var(--gap);
		background-color: var(--header-color);
	}

	section > h2,
	section > h3,
	section > hgroup > h2,
	section > hgroup > h3 {
		font-size: 1rem;
		margin: 1rem calc(var(--gap) * -1);
		padding: 0 var(--gap);
	}

	section:not(h1 + *, hgroup + *) > h2 {
		padding-top: 1rem;
		border-top: thin dashed var(--fg-color);
	}

	section:not(h2 + *, hgroup + *) > h3 {
		padding-top: 1rem;
		border-top: thin dashed var(--base1-color);
	}

	section > section > h1::before,
	section > section > hgroup > h1::before {
		content: "> ";
	}

	section > section > section > h1::before,
	section > section > section > hgroup > h1::before {
		content: ">> ";
	}

	section > h2::before {
		content: "■ ";
	}

	section > h3::before {
		content: "▶ ";
	}

	hr.split {
		border-style: dashed none none;
		border-width: thin;
		margin: 1rem 0;
	}

	iframe[src^="quote/"] {
		display: block;
		box-sizing: border-box;
		width: calc(100% + var(--gap) * 2);
		margin: 1em calc(var(--gap) * -1);
		border-style: none;
	}

	@media all and (width > 56rem) {
		section:has(> h1) section:has(> h1),
		section:has(hgroup > h1) section:has(> h1),
		section:has(hgroup > h1) section:has(hgroup > h1) {
			margin-left: 1.5rem;
			margin-right: -1.5rem;
		}

		section > section > h1::before,
		section > section > hgroup > h1::before,
		section > section > section > h1::before,
		section > section > section > hgroup > h1::before {
			content: none;
		}
	}
}

@layer code_block {
	pre.command,
	pre.directory,
	pre > code:only-child,
	pre > samp:only-child,
	figure.file {
		display: block;
		margin: 1rem calc(var(--gap) * -1);
		padding: var(--gap);
		border-style: solid;
		border-width: thin;
		border-color: var(--edge-color);
	}

	pre {
		&.command,
		> code:only-child {
			border-radius: 0.5rem;
		}

		&.command,
		> code:only-child,
		> samp:only-child {
			background-color: var(--code-bg-color);
			overflow: auto;
			scrollbar-width: thin;
		}

		> code:only-child::before,
		> samp:only-child::before {
			content: "";
			display: block;
			margin-top: -1lh;
		}
		
		&.directory {
			line-height: normal;
			border-color: var(--base0-color);
		}
	}

	figure.file {
		padding: 0;
		border-radius: 0.5rem;
		background-color: var(--path-bg-color);

		> figcaption {
			font-family: var(--mono-font);
			padding: 0.5ex var(--gap);
			border-bottom: solid thin;
			border-bottom-color: var(--edge-color);
		}

		> pre,
		> pre > code {
			margin: 0;
			border-style: none;
		}

		> pre > code {
			width: auto;
			border-top-style: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

@layer ui {
	:root {
		scroll-behavior: smooth;

		/* -- 右スクロールバーは常に表示 --
		 * nav.css の右サイドバーには、ページ遷移用ボタンがある。この位置が
		 * ページごとにスクロールバーの有無で変わると、連続したページ遷移の
		 * 操作がしにくい。なお、overflow: auto; scrollbar-gutter: stable;
		 * とすると、より良いデザインになるが、2023 年時点、Safari は非対応、
		 * Chrome はガターが右寄せの固定配置を覆い隠す問題がある。*/
		overflow: auto scroll;
	}

	*:target {
		animation: firstHighlight 1.5s linear;
	}

	@keyframes firstHighlight {
		0% { background-color: #F84; }
	}
}

@layer util {
	*.none {
		display: none !important;
	}

	*.todo {
		color: var(--x-color);
	}
}

@layer custom_nav {
	nav.forPage {
		--nav-bg-color: var(--bg-em-color);
		--nav-bd-color: var(--edge-color);
	}

	@media screen and (prefers-color-scheme: light) {
		nav.forPage {
			--nav-hl-color: hsla(0, 0%, 0%, 0.05);
		}
	}

	@media screen and (prefers-color-scheme: dark) {
		nav.forPage {
			--nav-hl-color: hsla(0, 0%, 100%, 0.1);
		}
	}
}

@layer custom_prism {
	pre[class*="language-"] {
		padding: unset;
		border-style: unset;
		border-radius: unset;
		box-shadow: unset;
		background-color: unset;
	}

	pre > code[class|="language"] mark.error {
		color: inherit;
		background-color: transparent;
		text-decoration: wavy underline hsla(5, 90%, 60%, 0.6);
		text-decoration-skip-ink: none;
	}

	pre > code[class|="language"] mark.warn {
		color: inherit;
		background-color: transparent;
		text-decoration: wavy underline hsla(60, 50%, 40%, 0.8);
		text-decoration-skip-ink: none;
	}
}

