@charset "utf-8";

@layer
	import_color,
	lang,
	root,
	default,
	normal,
	semantic,
	precode,
	ui,
	util,
	quote,
	import_nav,
	import_syntax_highlight,
	import_console_rustc,
	custom_nav,
	custom_prism;

@import url("color.css") layer(import_color);
@import url("../lib/nav/nav.css") layer(import_nav);
@import url("prism/light.css") layer(import_syntax_highlight) (prefers-color-scheme: light);
@import url("prism/dark.css") layer(import_syntax_highlight) (prefers-color-scheme: dark);
@import url("console_rustc.css") layer(import_console_rustc);

@layer lang {
	:root:lang(ja) {
		line-height: 1.7;
		text-justify: inter-character;
	}
}

@layer root {
	:root {
		--base-width: 42rem;
		--mt-font: "Consolas", "Meiryo", monospace;
		font-family: "Meiryo", sans-serif;
		font-size: 93%;
		height: 100%;
		padding: 0 0.5rem;
		color: var(--fg-color);
		background-color: var(--bg-color);
	}

	:root > body {
		margin: 0 auto;
		padding: 2rem 0 6rem;
		min-width: 20rem;
		max-width: 46rem;
		min-height: calc(100% - 8rem);
	}

	@media print {
		:root {
			background-color: transparent;
		}

		:root > body {
			padding-top: 0;
			background-color: transparent;
		}
	}

	@media screen and (width > 56rem) {
		:root {
			background-color: var(--ob-color);
		}

		:root > body {
			padding-left: 4rem;
			padding-right: 4rem;
			box-shadow: 0 0 0.5em hsla(0, 0%, 0%, 0.5);
			background-color: var(--bg-color);
		}
	}
}

@layer default {
	h1 {
		font-size: 1.05em;
		line-height: normal;
		margin: 1rem -0.5rem;
		padding: 0.5ex 0.5em;
		background-color: var(--header-color);
	}

	h2 {
		font-size: 1rem;
	}

	h2::before {
		content: "■ ";
	}

	p {
		margin: 0.5em 0;
		text-align: justify;
	}

	ul, ol {
		padding-left: 1.5em;
	}

	ul, ol, dl {
		margin: 0.5em 0;
	}

	section, body > *:not(div.title) {
		max-width: calc(var(--base-width) + 1px);
	}

	section {
		margin: 2rem 0 1rem;
	}

	section > section > h1::before {
		content: "> ";
	}

	section > section > section > h1::before {
		content: ">> ";
	}

	q {
		quotes: "\201C" "\201D" "\2018" "\2019";
	}

	pre, samp, code {
		font-family: var(--mt-font);
		hyphens: none;
		tab-size: 4;
		text-justify: none;
	}

	:not(h1):not(pre) > code {
		background-color: var(--shadow-color);
		margin: 0 -0.25ch;
		padding: 0 0.25ch;
		border-radius: 0.25ch;
	}

	a:link, a:visited {
		color: var(--link-color);
		text-decoration: none;
	}

	*.mt {
		font-family: var(--mt-font);
	}

	*.nw {
		white-space: nowrap;
	}

	@media all and (width > calc(56rem)) {
		section section {
			margin-left: 1.5rem;
			margin-right: -1.5rem;
		}

		section > section > h1::before,
		section > section > section > h1::before {
			content: none;
		}
	}
}

@layer normal {
	dl.normal {
		> dt::before {
			content: "≫";
			margin-right: 0.5ch;
		}

		> dd {
			margin-left: 1.5ch;
		}

		&.lowProfile {
			display: grid;
			grid-template-columns: auto minmax(0, 1fr);
		}

		&.lowProfile > dt {
			align-self: baseline;
		}

		&.lowProfile > dd {
			display: list-item;
			margin-left: 1.5em;
			padding-left: 0.5em;
			align-self: baseline;
		}

		&.lowProfile > dd::marker {
			content: "…";
		}

		&.highProfile > dt {
			margin-top: 2em;
		}

		&.highProfile > dd {
			margin: 1em 0 2em 2em;
		}
	}

	aside.normal {
		margin: 1rem -0.5rem;
		padding: 0 0.5rem;
		border-width: thick ;
		border-style: solid none;
		border-color: var(--thick-color);
		background-color: var(--fill-color);

		&::before {
			content: "";
			float: left;
			width: 2.2em;
			height: 2.2em;
			margin-right: 0.5ch;
			background-size: 2.2em;
			background-image: url("img/book_light.svg");
		}

		&.moan::before {
			background-image: url("img/unhappy.svg");
			filter: saturate(30%);
		}
	}

	@media screen and (prefers-color-scheme: dark) {
		aside.normal {
			&::before { 
				background-image: url("img/book_dark.svg");
			}

			&.moan::before {
				background-image: url("img/unhappy.svg");
				filter: saturate(20%) brightness(85%);
			}
		}
	}

	table.normal {
		margin: 1em 0;
		border-collapse: collapse;

		> tr > *,
		> * > tr > * {
			padding: 0.5ex 0.5ch;
			border: thin solid var(--edge-color);
		}
	}
}

@layer semantic {
	div.title {
		display: table;
		margin-bottom: 2rem;
		border: thin dashed red;
		padding: 1ex 1em;
	}

	div.sub {
		margin: 1rem 0;
	}

	div.sub:not(h1+*) {
		border-top: thin dashed;
	}
}

@layer precode {
	pre {
		line-height: 1.4;

		> code:only-child {
			border-radius: 0.5rem;
		}

		> code:only-child,
		> samp:only-child {
			margin: 1em -0.5rem;
			border: thin solid;
			border-color: var(--edge-color);
		}

		> code:only-child,
		> samp:only-child {
			display: block;
			padding: 0.5rem;
			overflow: auto;
			scrollbar-width: thin;
			background-color: var(--code-bg-color);
		}

		> code:only-child::before,
		> samp:only-child::before {
			content: "";
			display: block;
			margin-top: -1lh;
			margin-top: -1.4em;
		}
	}

	figure.file {
		font-family: var(--mt-font);
		margin: 1em 0;
	}

	figure.file > figcaption {
		margin: 0 -0.5rem;
		border: thin solid;
		border-radius: 0.5rem 0.5rem 0 0;
		padding: 0.5ex 1ch 0.5ex;
		background-color: var(--path-bg-color);
		border-color: var(--edge-color);
	}

	figure.file > pre,
	figure.file > pre > code{
		margin-top: 0;
	}

	figure.file > pre > code {
		width: auto;
		border-top-style: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

@layer ui {
	:root {
		overflow: auto;
		scrollbar-gutter: stable;
		scroll-behavior: smooth;
	}

	*:target {
		animation: firstHighlight 1.5s linear;
	}

	@keyframes firstHighlight {
		0% { background-color: #F84; }
	}
}

@layer util {
	*.none {
		display: none !important;
	}

	*.todo {
		color: var(--x-color);
	}
}

@layer quote {
	blockquote {
		margin: 0;
		padding: 0 1em;
		border: thin dashed;

		&::before, &::after {
			content: "";
			margin-top: 2ex;
			display: block;
		}

		& * {
			all: revert;
		}

		& code {
			font-family: var(--mt-font);
		}

		& a:link, & a:visited {
			color: var(--link-color);
		}

		&[cite^="https://doc.rust-lang.org/"] {
			font-family: serif;
		}
	}

	@media screen and (prefers-color-scheme: light) {
		blockquote {
			background: hsla(0, 0%, 100%, 0.3);
		}
	}

	@media screen and (prefers-color-scheme: dark) {
		blockquote {
			background: hsla(0, 0%, 100%, 0.1);
		}
	}
}

@layer custom_nav {
	nav.forPage {
		--nav-bg-color: var(--bg-em-color);
		--nav-bd-color: var(--edge-color);
	}

	@media screen and (prefers-color-scheme: light) {
		nav.forPage {
			--nav-hl-color: hsla(0, 0%, 0%, 0.05);
		}
	}

	@media screen and (prefers-color-scheme: dark) {
		nav.forPage {
			--nav-hl-color: hsla(0, 0%, 100%, 0.05);
		}
	}
}

@layer custom_prism {
	pre[class*="language-"] {
		padding: unset;
		border-style: unset;
		border-radius: unset;
		box-shadow: unset;
		background-color: unset;
	}

	pre > code[class|="language"] mark.error {
		color: inherit;
		background-color: transparent;
		text-decoration: wavy underline hsla(5, 90%, 60%, 0.6);
		text-decoration-skip-ink: none;
	}

	pre > code[class|="language"] mark.warn {
		color: inherit;
		background-color: transparent;
		text-decoration: wavy underline hsla(60, 50%, 40%, 0.8);
		text-decoration-skip-ink: none;
	}
}

