@charset "utf-8";

@media (prefers-color-scheme: light) {
	:root {
		/* アクセント色 (サイトイメージの強い彩色) */
		--key0-color: hsl(45, 20%, 75%);
		--key1-color: hsl(45, 20%, 50%);
		/* ベース色 (サイトイメージの弱い彩色)。*/
		--base0-color: hsl(45, 10%, 80%);
		--base1-color: hsl(45, 10%, 75%);
		--base2-color: hsl(45, 10%, 70%);
		/* 枠外の色。*/
		--ob-color: hsl(45, 5%, 85%);
		/* 影 */
		--shadow-color: hsla(0, 0%, 0%, 0.05);
		/* 標準の前景色。*/
		--fg-color: hsla(240, 50%, 10%, 0.8);
		/* 標準の背景色。*/
		--bg-color: hsl(40, 30%, 92%);
		/* 弱い強調色。*/
		--bg-em-color: hsl(60, 50%, 90%);
		/* パス領域背景色。*/
		--path-bg-color: hsl(25, 20%, 90%);
		/* コード領域背景色。*/
		--code-bg-color: hsl(25, 20%, 95%);
		/* 弱い前景強調色。*/
		--fg-em-color: hsla(25, 50%, 25%, 0.8);
		/* 強い前景強調色。*/
		--fg-st-color: hsla(0, 70%, 50%, 0.8);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* アクセント色 (サイトイメージの強い彩色) */
		--key0-color: hsl(210, 25%, 25%);
		--key1-color: hsl(210, 25%, 35%);
		/* ベース色 (サイトイメージの弱い彩色)。*/
		--base0-color: hsl(210, 15%, 23%);
		--base1-color: hsl(210, 15%, 28%);
		--base2-color: hsl(210, 15%, 35%);
		/* 枠外の色。*/
		--ob-color: hsl(210, 10%, 10%);
		/* 影 */
		--shadow-color: hsla(0, 0%, 0%, 0.2);
		/* 標準の前景色。*/
		--fg-color: hsla(50, 10%, 75%, 0.8);
		/* 標準の背景色。*/
		--bg-color: hsl(210, 15%, 15%);
		/* 弱い強調色。*/
		--bg-em-color: hsl(60, 50%, 10%);
		/* パス領域背景色。*/
		--path-bg-color: hsl(0, 0%, 15%);
		/* コード領域背景色。*/
		--code-bg-color: hsl(0, 0%, 7%);
		/* 弱い前景強調色。*/
		--fg-em-color: hsla(60, 50%, 75%, 0.8);
		/* 強い前景強調色。*/
		--fg-st-color: hsla(0, 70%, 50%, 0.8);
	}
}

:root {
	/* 基本となる枠線の色。*/
	--edge-color: var(--base2-color);
	--thick-color: var(--base1-color);
	/* 基本となる塗り色。*/
	--fill-color: var(--base0-color);
	/* ヘッダ色。*/
	--header-color: var(--key0-color);
	/* リンク色。*/
	--link-color: var(--fg-em-color);
	/* 要注意色。*/
	--x-color: var(--fg-st-color);
}

