@import url("color.css");
@import url("lang.css");

:root > body.forQuote {
	color: var(--fg-color);
	font-size: 93%;
	margin: 0;
	padding: 0;
}

cite.info {
	font-size: smaller;
	font-style: normal;
	color: var(--disable-color);

	* {
		text-decoration: none;
		color: inherit;
	}
}

@media screen {
	cite.info {
		float: right;
		margin: 0.5ex 0 0.5ex 1em;

		& > span.url {
			display: none;
		}
	}
}

@media print {
	cite.info {
		display: flex;
	}
}

blockquote {
	margin: 0 calc(var(--gap) * -1);
	padding: 0 1em;
	border: thin dashed;
	background: var(--light-color);

	&::before, &::after {
		content: "";
		margin-top: 2ex;
		display: block;
	}

	& code {
		font-family: var(--mono-font);
		margin: 0 -0.25ch;
		padding: 0 0.25ch;
		background-color: var(--mask-color);
	}

	& a:link, & a:visited {
		text-decoration: none;
		color: var(--link-color);
	}
}

:root > body.forQuote blockquote {
	margin: 0;
}

