@charset "utf-8";

/* # rustdoc のスタイルを模倣した独自スタイル。
 *
 * 完全に模倣しない理由は以下の通り。
 *
 * - 引用先の要素はやや幅が狭く調整が必要
 * - 原文の要素は Markdown 由来のため単純
 * - 原文のスタイルは Web フォントを含み重量級
 * - 原文のスタイルは将来変更されうる
 * */

@layer lang {
	/* 原文のためのフォント設定 */
	:where(:host, :not(:lang(en))) > :lang(en) { 
		--quote-serif: "Georgia", serif;
		--quote-sans: "Arial", sans-serif;
		font-family: var(--quote-serif);
	}

	/* 訳文のためのフォント設定 */
	:where(:host, :not(:lang(ja))) > :lang(ja) { 
		--quote-serif: "Times New Roman", "Biz UDMincho", serif;
		--quote-sans: "Arial", "Biz UDGothic", sans-serif;
		font-family: var(--quote-serif);
	}

	/* 訳文は両端ぞろえ。*/
	:where(p, li):lang(ja) {
		text-align: justify;
	}
}

blockquote {
	h1, h2, h3, h4, h5, h6 {
		font-family: var(--quote-sans);
	}

	ol, ul { padding-left: 1.5em; }

	li { margin: 0.5em 0; }

	/* コードのカラーリング */
	a.trait { color: #6e4fc9; }
	a.fn, .fn { color: #ad7c37; }
	a.primitive, .primitive { color: #ad378a; }

	/* Markdown の見出しの一段目 */
	h5 { 
		font-size: 1rem;
		margin: 1rem 0 0.5rem;
	}

	/* 要約と詳細のマーカ設定 */
	details {
		> summary {
			display: block;
			margin-left: 1rem;

			&::before {
				display: inline-block;
				width: 1rem;
				margin-left: -1rem;
				vertical-align: text-top;
				font-size: xx-small;
				font-family: system-ui;
				cursor: pointer;
				color: #999;
			}
		}

		&[open] summary::before {
			content: "\25BC";
		}

		&:not([open]) summary::before {
			content: "\25B6";
		}
	}

	/* 説明アイテム。*/
	details.desc {
		summary {
			cursor: pointer;
			color: #999;

			& + div {
				margin-left: 1rem;
			}
		}

		&[open] summary {
			width: 0;
			visibility: hidden;
			float: left;
		}

		&[open] summary::before {
			visibility: visible;
		}
	}

	/* メソッドアイテム。*/
	details.method {
		margin: 1em 0;

		.rightside {
			float: right;
			margin-left: 2em;
		}

		summary {
			pointer-events: none;

			&::before {
				pointer-events: auto;
			}

			a {
				pointer-events: auto;
			}

			& > code {
				background-color: transparent;
			}

			& + div {
				margin-left: 1rem;
			}
		}
	}
}

