@charset "utf-8";

/* 以下は原文と近くなるよう調整。*/

:where(:root, :host):lang(en),
:not(:lang(en)) > :lang(en) { 
	line-height: 1.5;
	font-family: "Georgia", serif;
}

ol, ul { padding-left: 1.5rem; }

/* 以下は原文からの変更部分。*/ 
a.doc-anchor { display: none; }

