@charset "utf-8";

table.methods {
	& > tr > td {
		white-space: nowrap;
		padding-right: 2ch;
	}

	& > tr > td code{
		background: initial;
	}

	& > tr > td:nth-child(1) {
		border-right-style: dashed;
	}

	& > tr > td:nth-child(2) {
		border-left-style: dashed;
	}
}

