@charset "utf-8";

samp.console-rustc {
	& mark.title {
		font-weight: bold;
		color: hsla(0, 0%, 50%, 1.0);
		background-color: transparent;
	}

	& mark.info {
		font-weight: bold;
		color: hsla(195, 90%, 40%, 0.8);
		background-color: transparent;
	}

	& mark.warn {
		font-weight: bold;
		color: hsla(60, 50%, 40%, 0.8);
		background-color: transparent;
	}

	& mark.error {
		font-weight: bold;
		color: hsla(5, 90%, 60%, 0.8);
		background-color: transparent;
	}

	& mark.edit {
		font-weight: bold;
		color: hsla(156, 70%, 40%, 0.8);
		background-color: transparent;
	}

	& a {
		color: inherit;
		text-decoration: underline;
	}
}
