@charset "utf-8";

:root {
	background-color: hsla(0, 0%, 0%, 1%);
}

body {
	width: max-content;
	background-color: hsl(45, 5%, 85%);
	padding: 0.5rem;
}

form {
	margin: 1em 0; 
}

img.icon {
	float: left;
}

img.icon:nth-child(6n+1) {
	clear: both;
}

#sample {
	padding: 1em;
	width: max-content;
}

