cite.info {
	font-size: smaller;
	font-style: normal;
	color: var(--disable-color);

	* {
		text-decoration: none;
		color: inherit;
	}
}

blockquote {
	margin: 0 calc(var(--gap) * -1);
	padding: 0 calc(var(--gap) * 2);
	border: thin dashed;
	background: var(--light-color);

	&::before, &::after {
		content: "";
		margin-top: calc(var(--gap) * 2);
		display: block;
	}

	& code {
		font-family: var(--mono-font);
		margin: 0 -0.25ch;
		padding: 0 0.25ch;
		background-color: var(--mask-color);
	}

	& a:link, & a:visited {
		text-decoration: none;
		color: var(--link-color);
	}
}

@media print {
	cite.info {
		display: flex;
	}
}

@media screen {
	cite.info {
		float: right;
		margin-top: 0.5ex;
		margin-bottom: 0.5ex;
		margin-left: 1em;

		& > span.url {
			display: none;
		}
	}
}

