body.forQuote {
	color: var(--fg-color);
	font-size: var(--root-font-size);
	margin: 0;
	padding: 0;

	& blockquote {
		margin: 0;
	}
}

cite.info {
	font-size: smaller;
	font-style: normal;
	color: var(--disable-color);

	* {
		text-decoration: none;
		color: inherit;
	}
}

blockquote {
	margin: 0 calc(var(--gap) * -1);
	padding: 0 calc(var(--gap) * 2);
	border: thin dashed;
	background: var(--light-color);

	&::before, &::after {
		content: "";
		margin-top: calc(var(--gap) * 2);
		display: block;
	}

	& code {
		font-family: var(--mono-font);
		margin: 0 -0.25ch;
		padding: 0 0.25ch;
		background-color: var(--mask-color);
	}

	& a:link, & a:visited {
		text-decoration: none;
		color: var(--link-color);
	}
}

cite.info:not(.forPrint) {
	float: right;
	margin: 0.5ex 0.5em 0.5ex 1em;

	& > span.url {
		display: none;
	}
}

cite.info.forPrint {
	display: flex;
	float: none;
	margin: 0;

	& > span.url {
		all: revert;
	}
}

